
@media(max-width:768px){
    .Topnav{
    width:100%;
}
    .navbar-items{
       display:none;
    }
    .navbar-btn button{
        display:none;
    }

    .container{
        width:100%;
        background-size:100% 100%;
    }
    .headings{
        width:100%;
        padding: 100px 0px 0px 100px;
    }

    .about {
        display: block;
        width:80%;
    }
    .about-img {
        width:50%;
    }
    .about-img img {
        width:370px;
        height:370px;
      }
    .about-content {
        width:100%;
        padding-left: 50px;
        
      }
      .services {
        padding: 20px;
        width: 100%;
        
      }
      .service-container{
        padding-top:25px;
        width:100%;
        padding-left:10px;
        display: block;
      }
      
      .services-boxes{
        width:100%;
        margin-bottom:25px;

    }
    .about_company{
        width: 80%;
        display: block;

    }
    .company_img {
        width:20%;
        
      }
      .company_img img{
        width:370px;
        height:500px;
      }
    .company_content{
        width: 100%;
    }

    .content{
        width:90%;
        display:block;
    }
    .count2,.count3,.count4{
        
        width:100%;
        display:block;
        padding-bottom: 10px;
      }
      .count5{
        width:100%;
        display:block;
      }

    .section5{
        padding-left: 40px;
        padding-top:40px;
        width:100%;  
        display:block;
    }
    .section5-img img{
        width:90%;
    }
    .footer{
        width:100%;
        display: block;
    }
    .footer .div1{
        width:100%;
        padding-bottom: 20px;
    }

}
